@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
$color-bg-light: #FFF8F0;
$color-bg-dark: #bbbbbb;
$color-fg: #392F5A;
  // #ea6b33;

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: $color-bg-light;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 500px) {
  .container {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}

@media screen and (min-width: 501px) {
  .container {
    display: block;
  }
  .mobile-only {
    display: none;
  }
}

.container {
  // width: 500px;
  // height: 500px;
  background: $color-bg-light;
  top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid $color-fg;
    background-color: $color-bg-light;
    position:fixed;
  border-radius: 0.5em;
  padding: 10px;
  box-shadow: 1px 7px 5px darken($color-bg-light,20%);
}

h2 {
  color: $color-fg; 
}

.card-stack {
  display: none;
  position: absolute;
  top: 30%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  overflow-y:scroll;
  // border: 0.5px solid $color-fg;
}

.card {
  // border: 0.5px solid $color-fg;
  border-radius: 0.45em;
  padding: 0.5em;
  margin: 0.5em 0;
  height: 2.5em;
  line-height: 0em;
  font-size: 100%;
  background-color: $color-fg;
}
.card:not(.inactive) {
  color: $color-bg-light;
  &:hover {
    background-color: rgba($color-fg, .6);
  }
}

.inactive{
  background-color: $color-bg-light;
  border: 0.05em solid $color-fg;
  color: $color-fg;
  vertical-align: middle;
}

.card a {
  text-decoration: none;
  position: relative;
  top: 40%;
  color: $color-bg-light;
}

.card.inactive a {
  color: $color-fg;
}

.count {
  position: absolute;
  top: 35px;
  right: 15px;
}

.count #count {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $color-fg;
  color: $color-bg-light;
  border-radius: 0.2em;
  font-weight:bold;
  text-align:center;
}

// DETAILS ----------------
.details-stack {
  display: none;
  position: absolute;
  top: 30%;
  bottom: 5%;
  left: 2%;
  right: 2%;
  span {
    color: $color-fg;
  }
}


// TABLE ------------------

table {
  border: 0;
  width: 100%;
}

tr {
  height: 1em;
}

td {
  width: 50%;
  padding: .5em 0;
}

table input {
  border: 0.05em solid $color-fg;
  padding: 0 1em;
  width:80%;
  position:absolute;
  right: 0;
  // top: -1em;
  color: $color-fg;
  background-color: rgba($color-bg-light,1.4);
  line-height: 2em;
  border-radius: 1em;
}

button {
  height: 2em;
  border-radius: 0.3em;
  margin: 0 1em 0 0;
  border: 0.05em solid $color-fg;
}

button.primary {
  background-color: $color-fg;
  color: $color-bg-light;
  &:hover{
    background-color: rgba($color-fg,.7);
  }
}
button.secondary {
  background-color: $color-bg-light;
  color: $color-fg;
  &:hover{
    background-color: $color-fg;
    color: $color-bg-light;
  }
}

// TABLE ------------------